{% extends 'base_Main.html' %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.author }} | {{ post.created_at }}</p>
  <p>{{ post.content }}</p>
  <div>
    <span>{{ post.total_likes }} Likes</span>
    <span>{{ post.total_dislikes }} Dislikes</span>
</div>

<div>
    {% if is_liked %}
    <!--
        <form action="{% url 'dislike_post' post.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Dislike</button>
        </form>
      -->
    {% else %}
        <form action="{% url 'like_post' post.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Like</button>
        </form>
    {% endif %}

    {% if is_disliked %}
    <!--
        <form action="{% url 'like_post' post.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Like</button>
        </form>
      -->
    {% else %}
        <form action="{% url 'dislike_post' post.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Dislike</button>
        </form>
    {% endif %}
</div>
  <h2>Comments</h2>
  {% for comment in comments %}
      <div>
          <strong>{{ comment.name }} | {{ comment.author }}</strong>
          <p>{{ comment.body }}</p>
          <p>{{ comment.created_at }}</p>
      </div>
  {% endfor %}
  <h2>Add a new comment</h2>
  {% if new_comment %}
      <p>Your comment has been added.</p>
  {% else %}
      <form method="post">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit">Add comment</button>
      </form>
  {% endif %}
{% endblock %}
