{% extends "base.html" %} 
{% block title %} Login {% endblock %} 

{% block content %}

    <div class = "login">

        <h2>Sign Up</h2>
        <form method="post" id="signupForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
            <div>
                <p>Already have an account?
                <a href="{% url 'login' %}">Login</a>
                </p>
            </div>
    </div>

    <!-- Include SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var form = event.target;
            var formData = new FormData(form);

            fetch(form.action, {
                method: form.method,
                body: formData,
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'User logged in',
                        text: 'Welcome!',
                    }).then(() => {
                        window.location.href = "{% url 'post_list' %}";
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: data.message,
                    });
                }
            });
        });
    </script>
{% endblock %}